<% layout("/layouts/boilerplate") %>

    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            
        }
        .filter{
            text-align: center;
            margin-right: 2rem;
            margin-top: 2rem;
            opacity: .8;

            
        }
        .filter:hover{
            opacity: 1;
            cursor: pointer;
        }
    </style>

    <body>
        <div id="filters">
            <div class="filter">
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Rooms</p>
            </div>
            
            <div class="filter">
                <div><i class="fa-solid fa-mountain-city"></i></div>
                <p>Iconic city</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-mountain"></i></div>
                <p>Mountain</p>
            </div>

            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Castles</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Amazing Pools</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Camping</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-tractor"></i></div>
                <p>Farms</p>
            </div>
            
            <div class="filter">
                <div><i class="fa-regular fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beach</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-sailboat"></i></div>
                <p>Boat</p>
            </div>

            <div class="filter">
                <div><i class="fa-solid fa-person-skiing"></i></div>
                <p>Ski-in</p>
            </div>

            
        </div>
        
        <div class = "row row-cols-lg-3 row-cols-md-3 row-cols-sm-2 mt-3">
            
            <% for(let list of allListing){ %>
                <div class="card listing-card" style="width: 20rem;">
                    <figure style="height:  20rem;">
                        <img src="<%=list.image%>" class=" main-img card-img-top" alt="listing_img" style="height:  20rem;">
                    </figure>
                    <div class="card-body">
                        <h5 class="card-title"><%= list.title%></h5>
                        <p class="card-text"><%= list.description%></p>
                        <p> &#8377 <%= list.price.toLocaleString("en-IN") %> / night</p>
                        <a href="/listing/<%= list._id %>" class=" btn cos-btn">Details</a>
                    </div>
                </div>
            <% } %>

        </div>

                
    </body>